.linked-in-container > *  {width: 258px;
    justify-content: center;
    padding: 1px;
    right: 0;
    position: absolute;
    bottom: 0px;
}

.linked-in-container > * > iframe {border: none}


/*<IMG src="assets/profilepic.webp" style="float: right; vertical-align: middle; text-align: right; width:30%;*/
/*max-width: 256px; margin-left: 1em; margin-bottom: 1em" alt="Profile pic" title="Sylvia Van Belle"></IMG>*/